@media only screen and (max-width: 575px) {

    header{
        position: relative;
        justify-content: center;
        align-items: center;
    }

    .h1-header {
       display: none;
    }

    .h2-header {
        margin-top: 5rem;
    }
  }